/** CSS File for the homepage.
    Wes, Kathy, Yashna
    1/28/15
*/

.container {
    padding: 2%;
    width: 67%; /* fill 67% width of the page */
    box-shadow: 0px 0px 5px #888888;
    border-radius: 10px;
}

/************ date-time class *****************/
.date-time {
    padding: 2%;
    text-align: center;
    box-shadow: 0px 0px 5px #888888; /* adds a shadow behind the object (x offset, y offset, blur radius) */
    border-radius: 10px; /* rounds the corners */
}
.date-time h1 {
    font-size: 3em;
}
.date-time p {
    font-size: 2em; /* Xem = (# of px) / 14 */
    color: #7E36D6;
}


/*********** icons ***************/
.top-row, .bot-row {
    padding: 2%;
    width: 100%;
}
.icon {
    padding: 4%; /* padding between each icon */
    width: 50%;
    float: left; /* this allows the icons to be next to each other */
}
.icon img {
    width: 100%;
}






.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

/* Defines a style for paragraph tags with class active tthat are
   descendants of a class jumbotron*/
.jumbotron p.active  {
     color: #1f6ddd; //change the color
}
